* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    background-color: #1C1C1C;
}

.footer-conteiner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.contato-creditos {
    color: white;
    font-size: 15px;
    padding: 10px 0;
}