@import 'variables';
@import 'media-queries';

%align-center {
    display: flex;
    align-items: center;
}

.responsive {
    max-width: 1400px;
    margin: auto;
    padding: 0 80px;

    @include tablet {
        padding: 0 50px;
    }
    @include mobile-lg {
        padding: 0 25px;
    }
    @include mobile-sm {
        padding: 0 10px;
    }
}

header {
    background-color: $primary-color;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar_container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo {
        color: $secondary-color;
        cursor: pointer;
        font-size: 2rem;
        margin-left: 24px;
        @extend %align-center;
    }
        
    .navbar_menu {
        @extend %align-center;
        list-style: none;
        text-align: center;
        gap: 1rem;

        ul {

            display: flex;

            li {
                list-style: none;
            }
        }

        &-links {
            color: $light;
            display: block;
            font-size: 1.3rem;
            @extend %align-center;
            justify-content: center;
            cursor: pointer;
            transition: all .3s ease-in-out;    

            &:hover {
                color: $secondary-color;
            }
        }
    }
    
    .menu_btn {
        opacity: 0;

        @include tablet {
            color: $light;
            opacity: 1;
            z-index: 999;
            font-size: 2rem;
            margin-right: 10px;
        }
    }
    

    // Menu mobile
    @include tablet {

        .menu_btn i.active:before {
            content: "\f00d";
        }

        .navbar_menu {
            position: fixed;
            padding: 20px 10px;
            top: 0;
            right: -100%;
            height: 27vh;
            flex-direction: column;
            
            background-color: $primary-filter;
            border-radius: 20px;
            
            &.active {
                right: 6px;
                top: 58px;
            }
        }
    }
}