
@import 'variables';
@import 'media-queries';

%align-center {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: $primary-color;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 3);
    z-index: 10;
    position: relative;

    &_logo {
        color: $secondary-color;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 24px;
        @extend %align-center;
    }

    &_menu {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        ul {
            display: flex;

            li {
                list-style: none;
            }
        }

        &-links {
            color: $light;
            font-size: 1.3rem;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;
            position: relative;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}


    