@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

// all
$dark: #000;
$light: #FFF;

// portfolio colors
$primary-color: #242424;
$secondary-color: #FFD700;

$primary-filter: #353535;
$secondary-filter: #ffd90091;
$scroll-color-back: #121212;

$telegram-color: #0088CC;
$linkedin-color: #0A66C2;
$discord-color: #7289da;
// portfolio text
$font-stack: 'Ubuntu', sans-serif;