@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");
.navbar_container .navbar_menu-links, .navbar_container .navbar_menu, .navbar_container_logo {
  display: flex;
  align-items: center;
}

.responsive {
  max-width: 1400px;
  margin: auto;
  padding: 0 80px;
}
@media screen and (max-width: 1032px) {
  .responsive {
    padding: 0 50px;
  }
}
@media screen and (max-width: 630px) {
  .responsive {
    padding: 0 25px;
  }
}
@media screen and (max-width: 371px) {
  .responsive {
    padding: 0 10px;
  }
}

header {
  background-color: #242424;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar_container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_container_logo {
  color: #FFD700;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 24px;
}
.navbar_container .navbar_menu {
  list-style: none;
  text-align: center;
  gap: 1rem;
}
.navbar_container .navbar_menu ul {
  display: flex;
}
.navbar_container .navbar_menu ul li {
  list-style: none;
}
.navbar_container .navbar_menu-links {
  color: #FFF;
  display: block;
  font-size: 1.3rem;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.navbar_container .navbar_menu-links:hover {
  color: #FFD700;
}
.navbar_container .menu_btn {
  opacity: 0;
}
@media screen and (max-width: 1032px) {
  .navbar_container .menu_btn {
    color: #FFF;
    opacity: 1;
    z-index: 999;
    font-size: 2rem;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1032px) {
  .navbar_container .menu_btn i.active:before {
    content: "\f00d";
  }
  .navbar_container .navbar_menu {
    position: fixed;
    padding: 20px 10px;
    top: 0;
    right: -100%;
    height: 27vh;
    flex-direction: column;
    background-color: #353535;
    border-radius: 20px;
  }
  .navbar_container .navbar_menu.active {
    right: 6px;
    top: 58px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 1032px) {
  html {
    font-size: 90%;
  }
}

.hero {
  background-color: #242424;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.hero_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  margin-bottom: 200px;
}
@media screen and (max-width: 1032px) {
  .hero_container {
    flex-direction: column;
    text-align: center;
    gap: 0;
    margin-bottom: 150px;
  }
}
.hero_container-left p {
  line-height: 1.2;
  color: #FFF;
  font-size: 2rem;
}
.hero_container-write ._meu-nome {
  font-size: 3rem;
}
.hero_container-write ._meu-nome::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  -webkit-animation: pisca 0.7s infinite;
          animation: pisca 0.7s infinite;
}
@-webkit-keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.hero_container .organize_btn {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 1032px) {
  .hero_container .organize_btn {
    justify-content: center;
  }
}
.hero_container .organize_btn-linkedin, .hero_container .organize_btn-github {
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  background-color: #FFD700;
  padding: 5px 5px 5px;
  width: 140px;
  height: 40px;
  margin-top: 1rem;
  display: flex;
  transition: 0.3s ease-in-out;
}
.hero_container .organize_btn-linkedin:hover, .hero_container .organize_btn-github:hover {
  background-color: rgba(255, 217, 0, 0.568627451);
}
.hero_container .organize_btn-linkedin p, .hero_container .organize_btn-github p {
  position: absolute;
  font-size: large;
  color: #000;
}
.hero_container-right img {
  box-shadow: inset 5px 5px 30px 5px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}
@media screen and (max-width: 1032px) {
  .hero_container-right img {
    display: none;
  }
}

.about {
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: #242424;
  display: flex;
  padding: 80px 0px;
  box-shadow: inset 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}
.about h2 {
  font-size: 3.5rem;
  color: #FFF;
  margin-bottom: 50px;
}
.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1032px) {
  .about_container-center {
    flex-direction: column;
  }
}
.about_container-center_icon {
  width: 300px;
  height: 300px;
}
.about_container-center_icon img {
  height: 100%;
  cursor: pointer;
}
.about_container-center_text-box {
  border-radius: 10px;
  max-width: 500px;
  padding: 40px;
  background: linear-gradient(10deg, #ceaf00, #ffd900);
}
@media screen and (max-width: 1032px) {
  .about_container-center_text-box {
    order: -1;
  }
}
.about_container-center_text-box p {
  text-indent: 30px;
  font-size: 1.3rem;
  max-width: 600px;
  color: #000;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.projects {
  background: linear-gradient(80deg, #a88f02, #e7c500);
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.projects h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
}
@media screen and (max-width: 425px) {
  .projects h2 {
    font-size: 3.5rem;
  }
}
.projects_container-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}
.projects_container-items-box {
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  display: flex;
}
.projects_container-items-box-card {
  background: #242424;
  border-radius: 15px;
  width: 280px;
  height: 240px;
  padding: 20px 30px;
  transition: all 0.3s ease;
}
.projects_container-items-box-card:hover {
  background-color: #242424;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.projects_container-items-box-card-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects_container-items-box-card-txt img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.projects_container-items-box-card-txt-btn img {
  align-items: center;
  width: 60px;
  height: 50px;
}
.projects_container-items-box-card-txt-btn .img-hover {
  display: none;
}
.projects_container-items-box-card-txt-btn:hover img.img-default {
  display: none;
}
.projects_container-items-box-card-txt-btn:hover img.img-hover {
  display: inherit;
}
.projects_container-items-box-card-txt-title {
  margin: 30px 0 10px 0;
  color: #FFF;
}
.projects_container-github {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.projects_container-github p {
  font-size: 1.3rem;
}

.skills {
  background-color: #242424;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  box-shadow: inset 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}
.skills h2 {
  color: #FFF;
  font-size: 3rem;
  text-align: center;
  padding: 50px 0;
}
@media screen and (max-width: 425px) {
  .skills h2 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 371px) {
  .skills h2 {
    font-size: 2.5rem;
  }
}
.skills_container-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.skills_container-items-box {
  border-radius: 20px;
  cursor: pointer;
  transition: ease 0.3s;
}
@media screen and (max-width: 425px) {
  .skills_container-items-box img {
    width: 80px;
  }
}

.contact {
  background: linear-gradient(80deg, #a88f02, #e7c500);
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.contact_container {
  align-items: center;
  justify-content: center;
}
.contact_container-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 80px;
}
.contact_container-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact_container-center-left {
  width: calc(50% - 30px);
}
@media screen and (max-width: 630px) {
  .contact_container-center-left {
    width: calc(100% - 0px);
    margin-bottom: 40px;
  }
}
.contact_container-center-left h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.contact_container-center-left p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  word-wrap: break-word;
}
.contact_container-center-left-infos-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.contact_container-center-left-infos-row i {
  padding-right: 20px;
  font-size: 2rem;
  color: #242424;
  transition: 0.3s ease-in-out;
}
.contact_container-center-left-infos-row-redes i {
  padding: 30px 20px 10px 0;
  font-size: 2rem;
  color: #242424;
  transition: 0.3s ease-in-out;
}
.contact_container-center-left-infos-row-redes .fa-telegram:hover {
  color: #0088CC;
}
.contact_container-center-left-infos-row-redes .fa-linkedin:hover {
  color: #0A66C2;
}
.contact_container-center-left-infos-row-redes .fa-discord:hover {
  color: #7289da;
}
.contact_container-center-right {
  width: calc(50% - 30px);
}
@media screen and (max-width: 630px) {
  .contact_container-center-right {
    width: calc(100% - 0px);
  }
}
.contact_container-center-right h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.contact_container-center-right-form input, .contact_container-center-right-form textarea {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 0 15px;
  resize: none;
  border: none;
  outline: none;
  font-size: 1rem;
  transition: border-color, box-shadow 0.3s ease;
}
.contact_container-center-right-form input:hover, .contact_container-center-right-form input:focus, .contact_container-center-right-form textarea:hover, .contact_container-center-right-form textarea:focus {
  outline: none;
  border-color: #242424;
  box-shadow: 0 0 0 2px #242424;
}
.contact_container-center-right-form .fields {
  display: flex;
}
.contact_container-center-right-form .fields, .contact_container-center-right-form .field {
  height: 40px;
  width: 100%;
  margin-bottom: 5px;
}
.contact_container-center-right-form .name {
  margin-right: 10px;
}
.contact_container-center-right-form .field_textarea {
  height: 110px;
}
.contact_container-center-right-form .btn_area button {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 15px 50px;
  background: #242424;
  border-radius: 10px;
  border: 2px solid #242424;
  color: #FFF;
  cursor: pointer;
  transition: ease 0.3s all;
}
.contact_container-center-right-form .btn_area button:hover {
  background-color: #353535;
}

.footer {
  background-color: #242424;
  padding: 25px 0;
}
.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_container-contatos {
  color: #FFF;
  font-size: 1rem;
}
.footer_container-contatos a {
  color: #FFD700;
}

#scroll-up {
  z-index: 999;
  background-color: #FFD700;
  color: #242424;
  border: 2px solid #242424;
  border-radius: 8px;
  height: 45px;
  width: 40px;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 45px;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */