@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
@import 'navbar';
@import 'media-queries';

* {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    @include tablet {
        font-size: 90%;
    }
}

// Hero
.hero {
    background-color: $primary-color;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;

    &_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20rem;
        margin-bottom: 200px;

        @include tablet {
            flex-direction: column;
            text-align: center;
            gap: 0;
            margin-bottom: 150px;
        }

        &-left p {
            line-height: 1.2;
            color: $light;
            font-size: 2rem;

        }

        &-write ._meu-nome {
            font-size: 3rem;
        }

        &-write ._meu-nome::after{
            content: '|';
            margin-left: 5px;
            opacity: 1;
            animation: pisca .7s infinite;
        }
        @keyframes pisca {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
        }

        .organize_btn {
            display: flex;
            gap: 1rem;

            @include tablet {
                justify-content: center;
            }
            
            &-linkedin, &-github {
                align-items: center;
                justify-content: space-evenly;
                border-radius: 8px;
                background-color: $secondary-color;
                padding: 5px 5px 5px;
                width: 140px;
                height: 40px;
                margin-top: 1rem;
                display: flex;
                transition: 0.3s ease-in-out;
            }

            &-linkedin:hover, &-github:hover {
                background-color: #ffd90091;
            }

            &-linkedin p, &-github p {
                position: absolute;
                font-size: large;
                color: $dark;
            }
        }

        &-right {
            
            img {
                box-shadow: inset 5px 5px 30px 5px rgb(0 0 0 / 40%);
                border-radius: 30px;

                @include tablet {
                    display: none;
                }
            }
        }
    }
}

// About
.about {
    width: 100%;
    align-items: center;
    justify-content: center;
    color: $light;
    background-color: $primary-color;
    display: flex;
    padding: 80px 0px;
    box-shadow: inset 5px 5px 20px 5px rgb(0 0 0 / 30%);
    
    h2 {
        font-size: 3.5rem;
        color: $light;
        margin-bottom: 50px;
    }

    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-center {
            display: flex;
            justify-content: center;
            align-items: center;

            @include tablet {
                flex-direction: column;
            }

            &_icon {
                width: 300px;
                height: 300px;

                img {
                    height: 100%;
                    cursor: pointer;
                }
            }

            &_text-box {
                border-radius: 10px;
                max-width: 500px;
                padding: 40px;
                background: linear-gradient(10deg,#ceaf00,#ffd900);;

                @include tablet {
                    order: -1;
                }

                p {
                    text-indent: 30px;
                    font-size: 1.3rem;
                    max-width: 600px;
                    color: $dark;
                    hyphens: auto;
                }
            }
        }
    }
}

.projects {
    background: linear-gradient(80deg,#a88f02,#e7c500);
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    h2 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 50px;

        @include mobile-md {
            font-size: 3.5rem;
        }
    }

    &_container {

        &-items {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 2rem;

            &-box {
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                display: flex;

                &-card {
                    background: $primary-color;
                    border-radius: 15px;
                    width: 280px;
                    height: 240px;
                    padding: 20px 30px;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: $primary-color;
                        box-shadow: 0 8px 50px rgba(0,0,0,0.2);
                        margin-top: -30px;
                        transform: scale(1.05);
                    }

                    &-txt {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: 100px;
                            object-fit: cover;
                            border-radius: 20px;
                        }

                        &-btn {

                            img {
                                align-items: center;
                                width: 60px;
                                height: 50px;
                            }

                            .img-hover {
                                display: none;
                            }
                            &:hover img.img-default {
                                display: none;
                            }
                            &:hover img.img-hover {
                                display: inherit;
                            }
                            
                        }

                        &-title {
                            margin: 30px 0 10px 0;
                            color: $light;
                        }
                    }
                }
            }
        }

        &-github {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;

            p {
                font-size: 1.3rem;
            }
        }
    }
}

.skills {
    background-color: $primary-color;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    box-shadow: inset 5px 5px 20px 5px rgb(0 0 0 / 30%);

    h2 {
        color: $light;
        font-size: 3rem;
        text-align: center;
        padding: 50px 0;

        @include mobile-md {
            font-size: 2.8rem;
        }
        @include mobile-sm {
            font-size: 2.5rem;
        }

    }

    &_container {

        &-items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;

            &-box {
                border-radius: 20px;
                cursor: pointer;
                transition: ease 0.3s;

                @include mobile-md {
                    img {
                        width: 80px;
                    }
                }
            }
        }
    }

    .scroll-up {
        text-decoration: none;
        background-color: $secondary-color;
        color: $primary-color;
        border-radius: 8px;
        height: 45px;
        width: 40px;
        line-height: 45px;
        text-align: center;
        position: fixed;
        right: 30px;
        bottom: 45px;
        font-size: 2rem;
        opacity: 0;
    }
    
}

.contact {
    background: linear-gradient(80deg,#a88f02,#e7c500);
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    &_container {
        align-items: center;
        justify-content: center;

        &-title {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 50px;
        }

        &-center {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &-left {
                width: calc(50% - 30px);

                @include mobile-lg {
                    width: calc(100% - 0px);
                    margin-bottom: 40px;
                }

                h3 {
                    margin-bottom: 10px;
                    font-size: 1.5rem;
                }
                p {
                    margin-bottom: 20px;
                    font-size: 1.1rem;
                    word-wrap: break-word;
                }
                
                &-infos {

                    &-row {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;

                        i {
                            padding-right: 20px;
                            font-size: 2rem;
                            color: $primary-color;
                            transition: .3s ease-in-out;
                        }

                        .fa-telegram:hover {
                            color: #0088CC;
                        }
                        .fa-discord:hover {
                            color: #7289da;
                        }
                    }
                }
            }

            &-right {
                width: calc(50% - 30px);

                @include mobile-lg {
                    width: calc(100% - 0px);
                }

                h3 {
                    margin-bottom: 20px;
                    font-size: 1.5rem;
                }

                &-form {

                    input, textarea {
                        height: 100%;
                        width: 100%;
                        border: 1px solid lightgrey;
                        border-radius: 10px;
                        padding: 0 15px;
                        resize: none;
                        outline: none;
                        font-size: 1rem;
                    }

                    .fields {
                        display: flex;
                        
                    }

                    .fields, .field {
                        height: 40px;
                        width: 100%;
                        margin-bottom: 5px

                    }

                    .name {
                        margin-right: 10px;
                    }

                    .field_textarea {
                        height: 110px;
                    }
                
                    .btn_area button {
                        margin-top: 10px;
                        padding: 15px 30px;
                        background: $primary-color;
                        border-radius: 10px;
                        color: #fff;
                        cursor: pointer;
                        transition: ease 0.3s all;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $primary-color;
    padding: 25px 0;

    &_container {
        display: flex;
        align-items: center;
        justify-content: center;

        &-contatos {
            color: $light;
            font-size: 1rem;
            
            a {
                color: $secondary-color;
            }
        }
    }
}